<p>Le paramètre <%= @metric.name%> est <strong><%= level_text @metric_status.level%></strong> valeur relevée: <%= @metric_status.value%></p>
<p>Normalement sa valeur doit être comprise entre <%= @metric_status.limit_min %> et <%= @metric_status.limit_max%></p>

<p>
     <%= @metric_status.description %>
</p>