<div class="container-fluid">
	<h1>Risebox <%=@device.name%></h1>
	<h4>Modèle <%= 'Hâpy' %> version <%= @device.version %> utilisé par <%= @device.owner.first_name%> <%= @device.owner.last_name%></h4>

	<h3>
		<% if (@last_connected && @last_connected > 5.minutes.ago) %>
			<span class="label label-success">Connecté</span>
		<% else %>
			<span class="label label-danger">Déconnecté</span>
		<% end %>
		<span class="label label-<%=label_for_color(@global_light)%>">
			<%=@global_light == 'green' ? 'En bonne santé' : 'A surveiller'%>
		</span>
	</h3>
    <br>
	<div class="table-responsive">
		<table class="table table-hover">
			<tr class="success">
				<th>&nbsp;</th>
				<th>Indicateur</th>
				<th>Valeur</th>
				<th>Quand?</th>
				<th>&nbsp;</th>
			</tr>
			<% @statuses.each do |status| %>
				<tr>
					<td>
						<span class="label label-<%= label_for_color(status.light) %>">
							<%= level_text status.level %>
						</span>
					</td>
					<td><%= status.metric.name %></td>
					<td>
						<% if status.value.present? %>
							<%= status.value %> <%= status.metric.unit %>
						<% else %>
							N/A
						<% end %>
					</td>
					<td><%= status.taken_at.present? ? time_ago_in_words(status.taken_at) : 'N/A' %></td>
					<td>
						<%= link_to metric_demo_device_path(id: @device.key, metric: status.metric.code), class: 'btn btn-default' do %>
	                        <i class="glyphicon glyphicon-signal icon-white"></i> Voir
	                    <% end %>
					</td>
				</tr>
			<% end %>
		</table>
	</div>
</div>
<!--
<br><br>

<footer class="text-center" id='pageFooter'>

	<span class="btn btn-default" id="refreshBtn">Mise à jour automatique</span>

</footer>
-->

