<%= render 'admin/devices/header', device: @device %>

<% breadcrumb([ {title: 'Devices', path: admin_devices_path},
				{title: @device.name.capitalize, path: admin_device_path(@device.key)}
			  ]) %>

<% admin_title 'Devices', @device.name.capitalize %>

<h3>
	<% if (@last_connected && @last_connected > 5.minutes.ago) %>
		<span class="label label-success">Connecté</span>
	<% else %>
		<span class="label label-danger">Déconnecté</span>
	<% end %>
	<span class="label label-<%=label_for_color(@global_light)%>">
		<%=@global_light == 'green' ? 'En bonne santé' : 'A surveiller'%>
	</span>
	<%= link_to admin_device_device_settings_path(device_id: @device.key), class: 'btn btn-default', style: 'margin-left: 7px' do %>
		<i class="glyphicon glyphicon-wrench icon-white"></i>&nbsp;Voir les settings
	<% end %>
	<%= link_to admin_device_log_entries_path(device_id: @device.key), class: 'btn btn-default', style: 'margin-left: 7px' do %>
		<i class="glyphicon glyphicon-list-alt icon-white"></i>&nbsp;Voir les logs
	<% end %>
</h3>

<br>

<div class="table-responsive">
	<table class="table table-hover">
		<tr>
			<th>&nbsp;</th>
			<th>Indicateur</th>
			<th>Valeur</th>
			<th>Quand?</th>
			<th>&nbsp;</th>
		</tr>
		<% @statuses.each do |status| %>
			<tr class="clickable-row" data-href='<%= metric_admin_device_path(id: @device.key, metric: status.metric.code) %>'>
				<td>
					<span class="label label-<%= label_for_color(status.light) %>">
						<%= level_text status.level %>
					</span>
				</td>
				<td><%= status.metric.name %></td>
				<td>
					<% if status.value.present? %>
						<%= status.value %> <%= status.metric.unit %>
					<% else %>
						N/A
					<% end %>
					<br />
					H : <%= status.hourly_average %>, 
					D : <%= status.daily_average %>, 
					W : <%= status.weekly_average %>, 
					M : <%= status.monthly_average %>, 
				</td>
				<td><%= status.taken_at.present? ? time_ago_in_words(status.taken_at) : 'N/A' %></td>
				<td>
					<%= link_to metric_admin_device_path(id: @device.key, metric: status.metric.code), class: 'btn btn-default' do %>
                        <i class="glyphicon glyphicon-signal icon-white"></i> Voir
                    <% end %>
				</td>
			</tr>
		<% end %>
	</table>
</div>
<!--
<br><br>

<footer class="text-center" id='pageFooter'>

	<span class="btn btn-default" id="refreshBtn">Mise à jour automatique</span>

</footer>
-->

