<%= render 'admin/devices/header', device: @device %>

<% breadcrumb([ {title: 'Devices', path: admin_devices_path},
				{title: @device.name.capitalize, path: admin_device_path(@device.name)},
			    {title: 'Settings', path: admin_device_settings_path(@device.name)}
			  ]) %>

<% admin_title 'Device Settings' %>

<div class="table-responsive">
	<table class="table table-hover">
		<tr class="success">
			<th>Clé</th>
			<th>Type</th>
			<th>Valeur</th>
			<th>Changé le</th>
		</tr>
		<% @settings.each do |setting| %>
			<tr>
				<td><strong><%= setting.key %></strong></td>
				<td><%= setting.data_type %></td>
				<td>
					<%= form_for setting, as: :device_setting, url: (setting.data_type == 'datetime' ? prolong_date_admin_device_setting_path(device_id: @device.key, id: setting.id) : admin_device_setting_path(device_id: @device.key, id: setting.id)) do |f| %>
						<%= f.text_field :value %>
						<%= button_tag class: 'btn btn-default' do %>
                        	<i class="glyphicon glyphicon-save icon-white"></i>&nbsp;<%= setting.data_type == 'datetime' ? 'Ajouter autant de secondes' : 'Modifier la valeur' %>
                    	<% end %>
					<% end %>
				</td>
				<td><%= l(setting.changed_at, format: :long) if setting.changed_at.present? %></td>
			</tr>
		<% end %>
	</table>
</div>